:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-tertiary: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-tertiary-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-tertiary-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
	/* scroll-behavior: smooth; */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.modal {
	width: 40%;
	height: 30vh;
	background-color: rgba(0, 0, 0, 0.283);
	/* display: flex; */
	justify-content: center;
	align-items: center;
	animation: zoomIn;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* display: flex; */
}
.modal input {
	width: 50%;
	height: 20px;
	display: block;
}
.modal .text {
	/* line-height: 20px; */
	font-size: 20px;
	margin-bottom: 20px;
}

.name-form-box {
	display: block;
}

.name-form-box .input {
	background-color: rgba(0, 0, 0, 0);
}
