@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald:wght@600&family=Teko:wght@300&display=swap");
:root {
	--color-white: #fff;
	--color-red: #ff1313;
	--gradient-primary: linear-gradient(to right, #e16521, rgb(228, 56, 28));
	--gradient-secondary: linear-gradient(to top left, #ffffff, #ffcd03be);
	/* scroll-behavior: smooth; */
	--head-font: "Oswald", sans-serif;
	--text-font: "Nunito Sans", sans-serif;
	--sub-font: "Teko", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	list-style: none !important;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

html::-webkit-scrollbar-thumb {
	background-image: linear-gradient(-45deg, #ffeeee, #ffcd03be);
}
html::-webkit-scrollbar {
	width: 5px;
	background-color: black;
}
body {
	color: #444 !important;
	line-height: 1.9;
	background-color: #f3f3f3;
}
h1 {
	font-family: var(--head-font);
	color: var(--color-white);
}
p {
	font-family: var(--text-font);
	color: var(--color-white);
}
.highlight {
	position: relative;
}
.highlight::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
	margin: 0px 3px;
}

/* MODAL WINDOW */
.modalFit {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60rem;
	background-color: #f3f3f3;
	padding: 5rem 6rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
	z-index: 1002;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 1001;
	transition: all 0.5s;
}
.modal__header {
	font-size: 3.25rem;
	margin-bottom: 4.5rem;
	line-height: 1.5;
}
.modal__form {
	margin: 0 3rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 2.5rem;
	/* background-color: var(--color-white); */
}
.modal__form label {
	font-size: 1.7rem;
	font-weight: 500;
}
.modal__form input {
	font-size: 1.7rem;
	padding: 1rem 1.5rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
}
.modal__form button {
	grid-column: 1 / span 2;
	justify-self: center;
	margin-top: 1rem;
}
.btn--close-modal {
	font-family: inherit;
	color: inherit;
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 4rem;
	cursor: pointer;
	border: none;
	background: none;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}
.show-modal {
	font-size: 2rem;
	font-weight: 600;
	border: none;
	color: var(--color-white);
	cursor: pointer;
	background: transparent;
}

.close-modal {
	position: absolute;
	top: 1.2rem;
	right: 2rem;
	font-size: 5rem;
	color: #333;
	cursor: pointer;
	border: none;
	background: none;
}

/* NAVBAR */
.nav {
	height: 50%;
	position: fixed;
	background-image: var(--gradient-primary);
	top: 0;
	right: 0;
	width: 20%;
	z-index: 999;
	transition: 1s;
}

.nav-box {
	width: 40%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-box ul {
	display: block;
	list-style: none;
}
.nav-box li {
	/* width: 2rem; */
	font-size: 3rem;
	margin-bottom: 4rem;
	font-weight: 700;
	font-family: var(--text-font);
}
.nav-box li a {
	color: var(--color-white);
}
.nav-box ul li a:hover {
	color: black;
}

.nav-open-button {
	width: 50px;
	height: 50px;
	position: fixed;
	background-color: white;
	right: 50px;
	top: 50px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1000;
}

.nav-open-button div {
	width: 30px;
	height: 3px;
	background-color: black;
	margin: 3px 0;
	transition: 0.5s;
}

.nav-open-button.close div:nth-child(1) {
	transform: translateY(9px) rotate(45deg);
}

.nav-open-button.close div:nth-child(2) {
	/* visibility: hidden; */
	/* display: none; */
	opacity: 0;
}

.nav-open-button.close div:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
}

/* LANDING PAGE */
.landing-page {
	width: 100%;
	height: 100vh;
	background-image: url(/design/landing-img.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}
.landing-page h1 {
	font-size: 8rem;
	width: 50%;
}
.landing-page a {
	background: var(--gradient-primary);
	color: var(--color-white);
	display: inline-block;
	margin: 3rem 0rem;
	font-family: var(--text-font);
}
.landing-page span {
	font-size: 24px;
	font-family: var(--sub-font);
	margin-bottom: 35px;
	color: #f04e3c;
	display: inline-block;
	position: relative;
	padding-left: 100px;
	letter-spacing: 0.05em;
}
.landing-page span::before {
	position: absolute;
	content: "";
	width: 70px;
	height: 2px;
	background: #f04e3c;
	top: 0;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

/* ABOUT US */
.about-us {
	background-color: #151515;
}
.about-us .img {
	background-image: url(/design/about-us2.webp);
	background-position: center;
	background-size: cover;
	height: 60rem;
}
.about-us .about-sub h2 {
	font-family: var(--head-font);
}
.about-us .text {
	height: 60rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-us .text h1 {
	line-height: 60px;
	font-size: 4rem;
}
.about-us .text p {
	font-size: 1.4rem;
	line-height: 20px;
}
.about-us .text .about-sub {
	border: 1px solid #e16521;
}
.about-sub .text .about-sub:hover {
	transform: scale(1.5);
}
.about-us .text .about-sub p:first-child {
	font-family: var(--sub-font);
}

.category h1 {
	font-size: 4rem;
}
.category .categories-post {
	position: relative;
	text-align: center;
	cursor: pointer;
}
.category .categories_post img {
	max-width: 130%;
	/* vertical-align: middle; */
	border-style: none;
	/* overflow-clip-m	argin: content-box; */
	/* overflow: clip; */
}
.category .categories-post .categories-details {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(34, 34, 34, 0.8);
	transition: all 0.3s linear 0s;
	opacity: 0;
}
.category .categories-post .categories-details .border-line {
	width: 100%;
	height: 1px;
	margin: 10px 0px;
	background: rgb(255, 255, 255);
}
.category .categories-post .categories-details a {
	color: var(--color-white);
	background-color: transparent;
	transition: all 0.3s ease-in-out 0s;
}
.categories-post .categories-details h5 {
	margin-bottom: 0px;
	font-size: 1.8rem;
	line-height: 26px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
}
.category .categories-post:hover .categories-details {
	opacity: 1;
	background: rgba(34, 34, 34, 0.5);
}

/* WHY CHOOSE US */
.why-choose-us h1 {
	font-size: 4rem;
	line-height: 6rem;
	padding: 4rem 0px 0px;
}
.why-choose-us p {
	font-size: 1.4rem;
	/* line-height: 4rem; */
}
.why-choose-us .row h1 {
	font-size: 2rem;
	margin-top: -2rem;
	line-height: 6rem;
}
.why-choose-us .row p {
	font-size: 1.5rem;
	/* line-height: 2rem; */
}

/* TESTIMONIALS */
.testimonials {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.9)
		),
		url(/design/landing-img.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	background-attachment: fixed;
}
.testimonials h1 {
	font-size: 4rem;
}
.footer .media {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgba(228, 56, 28, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0px 5px;
}
.footer .media:first-child {
	margin-left: 0px;
}
.footer .media a {
	color: var(--color-white) !important;
}
.footer ul li a {
	font-size: 2.5rem;
	color: var(--color-white);
	margin-left: 0px !important;
	font-family: var(--sub-font);
	text-align: center;
}

@media only screen and (max-width: 576px) {
	html {
		font-size: 30% !important;
	}
	.landing-page h1 {
		width: 100%;
	}
	.testimony {
		padding: 15px !important;
		margin-top: 30px;
		width: 120%;
		margin-left: -30px;
	}
	.nav {
		width: 100%;
		height: 100%;
		font-size: 3rem;
	}
	.footer .media {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (max-width: 991px) {
	html {
		font-size: 50%;
	}
	.landing-page h1 {
		width: 70%;
	}

	.category .categories-post .categories-details {
		opacity: 1;
		background: rgba(34, 34, 34, 0.5);
		top: 0;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 100%;
		width: 100%;
		font-size: 6rem;
	}

	.modal-category .modal_head h2 {
		font-size: 3rem !important;
		font-family: var(--text-font);
		font-weight: 700;
		line-height: 30px;
	}
}

.back2Top {
	position: fixed;
	bottom: 5%;
	right: 5%;
	font-size: 4rem;
	cursor: pointer;
}

.modal-category {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80rem;
	background-color: #f3f3f3;
	padding: 5rem 6rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
	z-index: 1003;
}

.modal-category .modal_head {
	width: 100%;
	margin-bottom: 20px;
}

.modal-category .modal_head h2 {
	font-size: 4rem;
}

.modal-body {
	width: 100%;
	height: 20rem;
	/* overflow-x: h; */
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.modal-body::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

.modal-body::-webkit-scrollbar-thumb {
	background-image: linear-gradient(-45deg, #ffffff, #ffcd03be);
}

.workout {
	height: 12rem;
	width: 49%;
	background-color: white;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	display: flex;
	padding: 1rem 1rem;
	position: relative;
}
.workout .img-cont {
	/* background-image: linear-gradient(-45deg, #ffffff, #232119be); */
	width: 11rem;
	animation-name: loadImage;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	background-color: white;
	border: none;
}

.workout .img-cont img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.workout .workout_name {
	font-size: 2.5rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading {
	width: 50px;
	height: 50px;
	/* border-radius: 50%; */
	margin: 0 auto;
	border-top: 1rem solid #e16521;
	border-top-left-radius: 50%;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	margin-top: 4rem;
}

.modal-close {
	font-size: 5rem;
	position: absolute;
	right: 2rem;
	top: 0;
	cursor: pointer;
}

.modal-body .message {
	font-size: 2.5rem;
	margin-top: 2rem;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(120deg);
	}
	75% {
		transform: rotateZ(240deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
